.main {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 150px;
    border-radius: 10px;
}

.sucess {
    color: black;
    background-color: greenyellow;
}

.error {
    color: white;
    background-color: rgb(97, 2, 2);
}